body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
body a {
    color: #2E2F42;
    text-decoration: none;
}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    color: #2E2F42;
}

.header-list {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.header-list a :hover {
    color: #404bbf;
}

.header-list a: :focus {
    color: #404bbf;
}

.address {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.address a:hover {
    color: #404bbf;
}

.address a:focus {
    color: #404bbf;
}

.address a {
    color: #434455
}

.h-one {
    color: #FFFFFF;
    background-color: #2E2F42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

button :hover {
    color: #404BBF;
}

button :focus {
    color: #404BBF;
}

.explanation-tittle h3 {
    color: #2E2F42;
}

.explanation-tittle p {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.team-member {
    background-color: #F4F4FD;
}

.our-team-h {
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.team-members {
    background-color: #FFFFFF;
}
.team-person {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.job    {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-section {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-member h3 {
    color: #2E2F42;
}
.team-member p {
    color: #434455;
}

.portfolio h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.portfolio-p {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
footer {
    background-color: #2E2F42;
}

.foot-p {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.studio-second {
    color: #F4F4FD;
}